#timelapseplus .current {
    display: flex;
}

#timelapseplus .current .preview {
    width: 15em;
    box-shadow: 0.2em 0.2em 0.35em rgba(0, 0, 0, 0.5);
}

#timelapseplus .current .preview img {
    width: 100%;
}

#timelapseplus .current .preview .no-img {
    background: rgba(127, 127, 127, 0.1);
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-style: italic;
}

#timelapseplus .current .info {
    flex-grow: 1;
}

#timelapseplus .current .info .properties {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#timelapseplus .current .info .properties > div > span:first-child {
    font-weight: bold;
}

#timelapseplus .h-info {
    font-size: 0.5em;
    margin-left: 0.4em;
    font-weight: normal;
    opacity: 0.75;
}

#timelapseplus .h-info:first-child {
    margin-left: 0.5em;
}

#timelapseplus h1 {
    margin-top: 1em;
}

#timelapseplus .renderjob {
    padding: 1em;
    display: flex;
}

#timelapseplus .renderjob .icon {
    font-size: 2em;
    margin-right: 1em;
    margin-top: 0.2em;
    display: flex;
}

#timelapseplus .renderjob .info {
    width: 100%;
}

#timelapseplus .renderjob .info .properties {
    display: flex;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#timelapseplus .renderjob .info .properties.presets {
    font-size: 0.75em;
}

#timelapseplus .renderjob .info .properties > div {
    margin-left: 0.75em;
}

#timelapseplus .renderjob .info .properties > div:first-child {
    margin-left: 0;
}

#timelapseplus .renderjob .info .properties > div > span:first-child {
    font-weight: bold;
}

#timelapseplus .renderjob .info .name {
    font-style: italic;
}

#timelapseplus .renderjob .info .progress {
    margin: 0;
}

#timelapseplus .file {
    margin-bottom: 1em;
    display: flex;
    align-items: start;
}

#timelapseplus .file .preview {
    margin-right: 1em;
}

#timelapseplus .file .preview img {
    max-width: 8em;
    min-width: 8em;
    margin-top: 0.3em;
    box-shadow: 0.2em 0.2em 0.35em rgba(0, 0, 0, 0.5);
}

#timelapseplus .file .info {
    flex-grow: 1;
    margin-right: 1em;
}

#timelapseplus .file .info .name {
    font-style: italic;
}

#timelapseplus .file .info .properties {
    display: flex;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#timelapseplus .file .info .properties > div {
    margin-left: 0.75em;
}

#timelapseplus .file .info .properties > div:first-child {
    margin-left: 0;
}

#timelapseplus .file .info .properties > div > span:first-child {
    font-weight: bold;
}

#timelapseplus .file .buttons {

}

#tlp-modal-render .startRender h4:first-child {
    margin-top: 0;
}

#tlp-modal-render .startRender {
    display: flex;
}

#tlp-modal-render .startRender .presets {
    margin-right: 2em;
}

#timelapseplus-settings .sub-settings {
    border-left: 0.25em solid rgba(127, 127, 127, 0.25);
    padding-left: 1em;
    margin-left: 0.5em;
}

#tlp-modal-render .startRender .preview img {
    min-width: 30em;
    max-width: 30em;
    box-shadow: 0.2em 0.2em 0.35em rgba(0, 0, 0, 0.5);
}

#timelapseplus-settings .preset {
    border: 1px dashed rgba(127, 127, 127, 0.75);
    padding: 1em;
    margin-top: 1em;
    margin-right: 1em;
}

#timelapseplus-settings .preset > div {
    margin-top: 1em;
}

#timelapseplus-settings .preset > div:first-child {
    margin-top: 0;
}

#timelapseplus-settings .preset .btn-mini {
    margin-top: 1em;
}

#timelapseplus-settings .colorPreview {
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    box-shadow: 0.2em 0.2em 0.35em rgba(0, 0, 0, 0.25);
    margin-left: 1em;
}