<div id="timelapseplus">
    <div data-bind="visible: isRunning">
        <h1>Current Print Job</h1>
        <div class="current">
            <div class="info">
                <div class="properties">
                    <div>
                        <span>Frames captured:</span>
                        <span data-bind="text: snapshotCount"></span>
                    </div>
                    <div>
                        <span>Total File Size:</span>
                        <span data-bind="text: humanFileSize(currentFileSize())"></span>
                    </div>
                    <div>
                        <span>Capture Mode:</span>
                        <span data-bind="text: getCaptureModeName(captureMode())"></span>
                    </div>
                    <div data-bind="visible: captureMode() == 'TIMED'">
                        <span>Timer Interval:</span>
                        <span>
                            <span data-bind="text: captureTimerInterval"></span>
                            <span>seconds</span>
                        </span>
                    </div>
                    <div data-bind="visible: captureMode() == 'COMMAND'">
                        <span>SnapshotCommand:</span>
                        <span data-bind="text: snapshotCommand"></span>
                    </div>
                </div>
            </div>
            <div class="preview">
                <img data-bind="visible: previewImage() !== null ,attr: {src: previewImage}" />
                <div class="no-img" data-bind="visible: previewImage() === null">
                    No Snapshots yet
                </div>
            </div>
        </div>
    </div>

    <div data-bind="visible: showRenderJobs()">
        <h1>Render Jobs</h1>
        <div data-bind="foreach: renderJobs">
            <div class="renderjob">
                <div class="icon">
                    <i data-bind="class: $parent.getRenderJobVm($data).icon"></i>
                </div>
                <div class="info">
                    <div class="name" data-bind="text: $data.name"></div>
                    <div class="state" data-bind="text: $parent.getRenderJobVm($data).title"></div>
                    <div class="progress progress-text-centered" data-bind="visible: $parent.getRenderJobVm($data).showProgress">
                        <div class="bar" data-bind="style: {width: $data.progress + '%'}"></div>
                        <span class="progress-text-back" data-bind="css: { 'progress-text-front': ($data.progress >= 50), 'progress-text-back': ($data.progress < 50) }, text: $parent.formatPercent($data.progress)"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="btn-group">
        <button class="btn btn-small active">Videos</button>
        <button class="btn btn-small">Frame Collections</button>
    </div>
    -->

    <h1>Videos</h1>
    <div data-bind="foreach: videos">
        <div class="file video">
            <div class="preview">
                <img data-bind="attr: {src: $data.thumbnail}" />
            </div>
            <div class="info">
                <div class="name" data-bind="text: $data.file"></div>
                <div class="properties">
                    <div>
                        <span>Size:</span>
                        <span data-bind="text: $parent.humanFileSize($data.size)"></span>
                    </div>
                    <div>
                        <span>Created:</span>
                        <span data-bind="text: $parent.timeDifference($data.timestamp)"></span>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <div class="btn-group action-buttons">
                    <div href="javascript:void(0)" class="btn btn-mini" data-bind="click: function(){ $parent.openVideo($data) }"><i class="fas fa-play"></i></div>
                    <div href="javascript:void(0)" class="btn btn-mini" data-bind="click: function(){ $parent.delete('video', $data.id) }"><i class="fas fa-trash"></i></div>
                </div>
            </div>
        </div>
    </div>

    <h1>Frame Collections</h1>
    <div data-bind="foreach: frameCollections">

        <div class="file frameCollection">
            <div class="preview">
                <img data-bind="attr: {src: $data.thumbnail}" />
            </div>
            <div class="info">
                <div class="name" data-bind="text: $data.file"></div>
                <div class="properties">
                    <div>
                        <span>Frames:</span>
                        <span data-bind="text: $data.frames"></span>
                    </div>
                    <div>
                        <span>Size:</span>
                        <span data-bind="text: $parent.humanFileSize($data.size)"></span>
                    </div>
                    <div>
                        <span>Created:</span>
                        <span data-bind="text: $parent.timeDifference($data.timestamp)"></span>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <div class="btn-group action-buttons">
                    <div href="javascript:void(0)" class="btn btn-mini" data-bind="click: $parent.startRender"><i class="fas fa-file-video"></i></div>
                    <div href="javascript:void(0)" class="btn btn-mini" data-bind="click: function(){ $parent.delete('frameZip', $data.id) }"><i class="fas fa-trash"></i></div>
                </div>
            </div>
        </div>
    </div>

</div>

<!------------------------------------------------------->

<div id="tlp-modal-video" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>Timelapse Video Preview</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <video width="640" height="360" controls>
                <source />
                Your browser does not support the video tag.
            </video>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary pull-right" href="#" data-dismiss="modal">Close</button>
    </div>
</div>