<div id="timelapseplus">
    <div data-bind="if: hasError">
        <div class="alert alert-block">
            <strong>Error: </strong>
            <div style="margin-bottom: 1em">
                Hmm, something isn't working properly.
                Please fix the following error so Timelapse+ can run.
                Open the settings page to edit or fix the configuration.
            </div>
            <strong data-bind="text: error"></strong>
            <br><br>
            <button data-bind="click: reCheckPrerequisites" class="btn btn-mini">
                <i class="fa fa-sync"></i>
                Check again
            </button>
            <button data-bind="click: openSettingsPage" class="btn btn-mini">
                <i class="fa fa-tools"></i>
                Open the Timelapse+ Settings Page
            </button>
        </div>
    </div>

    <div class="quick-actions" data-bind="if: config() != null && !isRunning()">
        <div class="action clickable" data-bind="click: editQuickSettingsEnabled">
            <div class="icon">
                <i class="fa fa-power-off positive" data-bind="visible: config().enabled"></i>
                <i class="fa fa-power-off negative" data-bind="visible: !config().enabled"></i>
            </div>
            <div class="description">
                <div class="name">Enabled</div>
                <div class="value positive" data-bind="visible: config().enabled">Yes</div>
                <div class="value negative" data-bind="visible: !config().enabled">No</div>
            </div>
        </div>

        <div class="action clickable" data-bind="click: editQuickSettingsStabilization">
            <div class="icon">
                <i class="fa fa-crosshairs positive" data-bind="visible: config().stabilization"></i>
                <i class="fa fa-crosshairs negative" data-bind="visible: !config().stabilization"></i>
            </div>
            <div class="description">
                <div class="name">Stabilize</div>
                <div class="value positive" data-bind="visible: config().stabilization">Yes</div>
                <div class="value negative" data-bind="visible: !config().stabilization">No</div>
            </div>
        </div>

        <div class="action clickable" data-bind="click: editQuickSettingsCaptureMode">
            <div class="icon">
                <i class="fa fa-camera"></i>
            </div>
            <div class="description">
                <div class="name">Mode</div>
                <div class="value" data-bind="if: config().captureMode == 'COMMAND'">Command</div>
                <div class="value" data-bind="if: config().captureMode == 'TIMED'">Timer</div>
            </div>
        </div>

        <div data-bind="visible: config().captureMode == 'TIMED'">
            <div class="action">
                <div class="icon">
                    <i class="fa fa-stopwatch"></i>
                </div>
                <div class="description">
                    <div class="name">Timer</div>
                    <div class="value">
                        <span data-bind="text: config().captureTimerInterval"></span><span>s</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-bind="if: isRunning">
        <h1>Current Print Job</h1>
        <div class="current">
            <div class="info">
                <h4>Info</h4>
                <div class="properties">
                    <div>
                        <span>Capturing:</span>
                        <i data-bind="visible: isCapturing()" class="fa fa-check" style="color: #42a500"></i>
                        <i data-bind="visible: !isCapturing()" class="fa fa-times" style="color: #a50d00"></i>
                    </div>
                    <div>
                        <span>Stabilization:</span>
                        <i data-bind="visible: isStabilized()" class="fa fa-check" style="color: #42a500"></i>
                        <i data-bind="visible: !isStabilized()" class="fa fa-times" style="color: #a50d00"></i>
                    </div>
                    <div>
                        <span>Frames:</span>
                        <span data-bind="text: snapshotCount"></span>
                    </div>
                    <div>
                        <span>Size:</span>
                        <span data-bind="text: humanFileSize(currentFileSize())"></span>
                    </div>
                    <div>
                        <span>Mode:</span>
                        <span data-bind="text: getCaptureModeName(captureMode())"></span>
                        <span data-bind="if: captureMode() == 'TIMED'">
                            (<span data-bind="text: captureTimerInterval"></span>s)
                        </span>
                    </div>
                </div>
            </div>
            <div class="render" data-bind="visible: snapshotInfoImage() !== null">
                <h4>Captured</h4>
                <div class="snapshot-info">
                    <img data-bind="attr: {src: snapshotInfoImage}" />
                </div>
            </div>
            <div class="preview" data-bind="visible: previewImage() !== null">
                <h4>Last Snapshot</h4>
                <img class="canvas" data-bind="attr: {src: previewImage}" />
                <div class="no-img canvas" data-bind="visible: previewImage() === null">
                    No Snapshots yet
                </div>
            </div>
        </div>
    </div>

    <div data-bind="visible: showRenderJobs()">
        <h1>Render Jobs</h1>
        <div data-bind="foreach: renderJobs">
            <div class="renderjob">
                <div class="icon">
                    <i data-bind="class: $parent.getRenderJobVm($data).icon"></i>
                </div>
                <div class="info">
                    <div class="name" data-bind="text: $data.name"></div>
                    <div class="properties">
                        <div>
                            <span>Phase:</span>
                            <span data-bind="text: $parent.getRenderJobVm($data).title"></span>
                        </div>
                        <div data-bind="visible: $parent.getRenderJobVm($data).showProgress">
                            <span>Remaining:</span>
                            <span data-bind="text: $parent.timeSpan($data.eta)"></span>
                        </div>
                    </div>
                    <div class="properties presets">
                        <div>
                            <span>Enhancement:</span>
                            <span data-bind="text: $data.enhancementPresetName"></span>
                        </div>
                        <div>
                            <span>Render:</span>
                            <span data-bind="text: $data.renderPresetName"></span>
                        </div>
                    </div>
                    <div class="progress progress-text-centered" data-bind="visible: $parent.getRenderJobVm($data).showProgress">
                        <div class="bar" data-bind="style: {width: $data.progress + '%'}"></div>
                        <span class="progress-text-back" data-bind="css: { 'progress-text-front': ($data.progress >= 50), 'progress-text-back': ($data.progress < 50) }, text: $parent.formatPercent($data.progress)"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="btn-group">
        <button class="btn btn-small active">Videos</button>
        <button class="btn btn-small">Frame Collections</button>
    </div>
    -->

    <h1>
        Videos
        <span class="h-info" data-bind="text: 'Total: ' + videos.allSize()"></span>
        <span class="h-info" data-bind="text: 'Size: ' + humanFileSize(sizeVideos())"></span>
    </h1>

    <div data-bind="visible: videos.allSize() == 0">
        You didn't render any videos yet.
    </div>

    <div data-bind="foreach: videos.paginatedItems">
        <div class="file video">
            <div class="preview">
                <div class="overlay" data-bind="text: $data.extension"></div>
                <img data-bind="attr: {src: $data.thumbnail}" />
            </div>
            <div class="info">
                <div class="name" data-bind="text: $data.file"></div>
                <div class="properties">
                    <div>
                        <span>Length:</span>
                        <span data-bind="text: $parent.timeSpanMedia($data.length)"></span>
                    </div>
                    <div>
                        <span>Size:</span>
                        <span data-bind="text: $parent.humanFileSize($data.size)"></span>
                    </div>
                    <div>
                        <span>Created:</span>
                        <span data-bind="text: $parent.timeDifference($data.timestamp)"></span>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <div class="btn-group action-buttons">
                    <div title="Play" href="javascript:void(0)" class="btn btn-mini" data-bind="click: function(){ $parent.openVideo($data) }"><i class="fas fa-play"></i></div>
                    <a title="Download" class="btn btn-mini" data-bind="attr: {href: $data.url}"><i class="fas fa-download"></i></a>
                    <div title="Delete" href="javascript:void(0)" class="btn btn-mini" data-bind="click: function(){ $parent.delete('video', $data.id) }"><i class="fas fa-trash"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div data-bind="visible: videos.allSize() > 0" class="pagination pagination-mini pagination-centered">
        <ul>
            <li data-bind="css: {disabled: videos.currentPage() === 0}"><a href="javascript:void(0)" data-bind="click: videos.prevPage">«</a></li>
        </ul>
        <ul data-bind="foreach: videos.pages">
            <li data-bind="css: { active: $data.number === $root.videos.currentPage(), disabled: $data.number === -1 }"><a href="javascript:void(0)" data-bind="text: $data.text, click: function() { $root.videos.changePage($data.number); }"></a></li>
        </ul>
        <ul>
            <li data-bind="css: {disabled: videos.currentPage() === videos.lastPage()}"><a href="javascript:void(0)" data-bind="click: videos.nextPage">»</a></li>
        </ul>
    </div>

    <h1>
        Frame Collections
        <span class="h-info" data-bind="text: 'Total: ' + frameCollections.allSize()"></span>
        <span class="h-info" data-bind="text: 'Size: ' + humanFileSize(sizeFrameCollections())"></span>

        <a class="h-info" href="javascript:void(0)" data-bind="visible: !isUploadingFrameZip(),click: openUploadFrameCollection">Upload</a>
        <span class="h-info" data-bind="visible: isUploadingFrameZip()">Uploading...</span>
    </h1>

    <div data-bind="visible: frameCollections.allSize() == 0">
        You didn't capture any prints yet.
    </div>

    <div data-bind="foreach: frameCollections.paginatedItems">
        <div class="file frameCollection">
            <div class="preview">
                <img data-bind="attr: {src: $data.thumbnail}" />
            </div>
            <div class="info">
                <div class="name" data-bind="text: $data.file"></div>
                <div class="properties">
                    <div>
                        <span>Frames:</span>
                        <span data-bind="text: $data.frames"></span>
                    </div>
                    <div>
                        <span>Size:</span>
                        <span data-bind="text: $parent.humanFileSize($data.size)"></span>
                    </div>
                    <div>
                        <span>Created:</span>
                        <span data-bind="text: $parent.timeDifference($data.timestamp)"></span>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <div class="btn-group action-buttons">
                    <div title="Render" href="javascript:void(0)" class="btn btn-mini" data-bind="click: $parent.openRenderDialog"><i class="fas fa-file-video"></i></div>
                    <a title="Download" class="btn btn-mini" data-bind="attr: {href: $data.url}"><i class="fas fa-download"></i></a>
                    <div title="Delete" href="javascript:void(0)" class="btn btn-mini" data-bind="click: function(){ $parent.delete('frameZip', $data.id) }"><i class="fas fa-trash"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div data-bind="visible: frameCollections.allSize() > 0" class="pagination pagination-mini pagination-centered">
        <ul>
            <li data-bind="css: {disabled: frameCollections.currentPage() === 0}"><a href="javascript:void(0)" data-bind="click: frameCollections.prevPage">«</a></li>
        </ul>
        <ul data-bind="foreach: frameCollections.pages">
            <li data-bind="css: { active: $data.number === $root.frameCollections.currentPage(), disabled: $data.number === -1 }"><a href="javascript:void(0)" data-bind="text: $data.text, click: function() { $root.frameCollections.changePage($data.number); }"></a></li>
        </ul>
        <ul>
            <li data-bind="css: {disabled: frameCollections.currentPage() === frameCollections.lastPage()}"><a href="javascript:void(0)" data-bind="click: frameCollections.nextPage">»</a></li>
        </ul>
    </div>

</div>

<!------------------------------------------------------->

<div id="tlp-modal-render" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>Start Render Job</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="startRender">
                <div class="presets">
                    <h4>Enhancement</h4>
                    <select data-bind="options: presetsEnhancement, optionsText: function(x) { return x.name }, value: selectedPresetEnhancement">
                    </select>

                    <h4>Render Settings</h4>
                    <select data-bind="options: presetsRender, optionsText: function(x) { return x.name }, value: selectedPresetRender">
                    </select>

                    <div style="margin-bottom: 2em">
                        <span style="font-weight: bold">Video Length:</span>
                        <span data-bind="text: timeSpan(selectedRenderPresetVideoLength())"></span>
                    </div>

                    <h4>Output Format</h4>
                    <select data-bind="foreach: videoFormatsGrouped, value: selectedVideoFormat">
                        <optgroup data-bind="attr: {label: name}, foreach: children">
                            <option data-bind="text: fullName, value: $data"></option>
                        </optgroup>
                    </select>
                </div>
                <div class="preview">
                    <h4>Enhancement Preview</h4>
                    <img data-bind="attr: {src: selectedFrameZip() != null && selectedPresetEnhancement() != null ? '/plugin/timelapseplus/enhancementPreview?frameZipId=' + selectedFrameZip().id + '&presetIndex=' + presetsEnhancement().indexOf(selectedPresetEnhancement()) + '&rnd=' + getRandomString() : '' }" />
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn pull-left" data-dismiss="modal">Close</button>
        <button class="btn btn-primary pull-right" data-bind="click: startRender">Start</button>
    </div>
</div>

<div id="tlp-modal-video" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>Timelapse Video Preview</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="video-error" data-bind="visible: hasVideoPlaybackError() && !videoPreviewIsGif()">
                Your browser is not able to play this video.
            </div>
            <div class="gif-wrapper" data-bind="visible: videoPreviewIsGif()">
                <img class="gif" />
            </div>
            <video data-bind="visible: !hasVideoPlaybackError() && !videoPreviewIsGif()" controls>
                <source />
                Your browser does not support the video tag.
            </video>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary pull-right" data-dismiss="modal">Close</button>
    </div>
</div>
