<div id="timelapseplus">
    <div data-bind="if: hasError">
        <div class="alert alert-block">
            <strong>Error: </strong>
            <div style="margin-bottom: 1em">
                Hmm, something isn't working properly.
                Please fix the following error so Timelapse+ can run.
                Open the settings page to edit or fix the configuration.
            </div>
            <strong data-bind="text: error"></strong>
        </div>
    </div>

    <div data-bind="if: isRunning">
        <h1>Current Print Job</h1>
        <div class="current">
            <div class="info">
                <div class="properties">
                    <div>
                        <span>Frames captured:</span>
                        <span data-bind="text: snapshotCount"></span>
                    </div>
                    <div>
                        <span>Total File Size:</span>
                        <span data-bind="text: humanFileSize(currentFileSize())"></span>
                    </div>
                    <div>
                        <span>Capture Mode:</span>
                        <span data-bind="text: getCaptureModeName(captureMode())"></span>
                    </div>
                    <div data-bind="visible: captureMode() == 'TIMED'">
                        <span>Timer Interval:</span>
                        <span>
                            <span data-bind="text: captureTimerInterval"></span>
                            <span>seconds</span>
                        </span>
                    </div>
                    <div data-bind="visible: captureMode() == 'COMMAND'">
                        <span>SnapshotCommand:</span>
                        <span data-bind="text: snapshotCommand"></span>
                    </div>
                </div>
            </div>
            <div class="preview">
                <img data-bind="visible: previewImage() !== null ,attr: {src: previewImage}" />
                <div class="no-img" data-bind="visible: previewImage() === null">
                    No Snapshots yet
                </div>
            </div>
        </div>
    </div>

    <div data-bind="visible: showRenderJobs()">
        <h1>Render Jobs</h1>
        <div data-bind="foreach: renderJobs">
            <div class="renderjob">
                <div class="icon">
                    <i data-bind="class: $parent.getRenderJobVm($data).icon"></i>
                </div>
                <div class="info">
                    <div class="name" data-bind="text: $data.name"></div>
                    <div class="properties">
                        <div>
                            <span>Phase:</span>
                            <span data-bind="text: $parent.getRenderJobVm($data).title"></span>
                        </div>
                        <div data-bind="visible: $parent.getRenderJobVm($data).showProgress">
                            <span>Remaining:</span>
                            <span data-bind="text: $parent.timeSpan($data.eta)"></span>
                        </div>
                    </div>
                    <div class="properties presets">
                        <div>
                            <span>Enhancement:</span>
                            <span data-bind="text: $data.enhancementPresetName"></span>
                        </div>
                        <div>
                            <span>Render:</span>
                            <span data-bind="text: $data.renderPresetName"></span>
                        </div>
                    </div>
                    <div class="progress progress-text-centered" data-bind="visible: $parent.getRenderJobVm($data).showProgress">
                        <div class="bar" data-bind="style: {width: $data.progress + '%'}"></div>
                        <span class="progress-text-back" data-bind="css: { 'progress-text-front': ($data.progress >= 50), 'progress-text-back': ($data.progress < 50) }, text: $parent.formatPercent($data.progress)"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="btn-group">
        <button class="btn btn-small active">Videos</button>
        <button class="btn btn-small">Frame Collections</button>
    </div>
    -->

    <h1>
        Videos
        <span class="h-info" data-bind="text: 'Total: ' + videos.allSize()"></span>
        <span class="h-info" data-bind="text: 'Size: ' + humanFileSize(sizeVideos())"></span>
    </h1>
    <div data-bind="foreach: videos.paginatedItems">
        <div class="file video">
            <div class="preview">
                <img data-bind="attr: {src: $data.thumbnail}" />
            </div>
            <div class="info">
                <div class="name" data-bind="text: $data.file"></div>
                <div class="properties">
                    <div>
                        <span>Length:</span>
                        <span data-bind="text: $parent.timeSpanMedia($data.length)"></span>
                    </div>
                    <div>
                        <span>Size:</span>
                        <span data-bind="text: $parent.humanFileSize($data.size)"></span>
                    </div>
                    <div>
                        <span>Created:</span>
                        <span data-bind="text: $parent.timeDifference($data.timestamp)"></span>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <div class="btn-group action-buttons">
                    <div href="javascript:void(0)" class="btn btn-mini" data-bind="click: function(){ $parent.openVideo($data) }"><i class="fas fa-play"></i></div>
                    <a class="btn btn-mini" data-bind="attr: {href: $data.url}"><i class="fas fa-download"></i></a>
                    <div href="javascript:void(0)" class="btn btn-mini" data-bind="click: function(){ $parent.delete('video', $data.id) }"><i class="fas fa-trash"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination pagination-mini pagination-centered">
        <ul>
            <li data-bind="css: {disabled: videos.currentPage() === 0}"><a href="javascript:void(0)" data-bind="click: videos.prevPage">«</a></li>
        </ul>
        <ul data-bind="foreach: videos.pages">
            <li data-bind="css: { active: $data.number === $root.videos.currentPage(), disabled: $data.number === -1 }"><a href="javascript:void(0)" data-bind="text: $data.text, click: function() { $root.videos.changePage($data.number); }"></a></li>
        </ul>
        <ul>
            <li data-bind="css: {disabled: videos.currentPage() === videos.lastPage()}"><a href="javascript:void(0)" data-bind="click: videos.nextPage">»</a></li>
        </ul>
    </div>

    <h1>
        Frame Collections
        <span class="h-info" data-bind="text: 'Total: ' + frameCollections.allSize()"></span>
        <span class="h-info" data-bind="text: 'Size: ' + humanFileSize(sizeFrameCollections())"></span>
    </h1>
    <div data-bind="foreach: frameCollections.paginatedItems">
        <div class="file frameCollection">
            <div class="preview">
                <img data-bind="attr: {src: $data.thumbnail}" />
            </div>
            <div class="info">
                <div class="name" data-bind="text: $data.file"></div>
                <div class="properties">
                    <div>
                        <span>Frames:</span>
                        <span data-bind="text: $data.frames"></span>
                    </div>
                    <div>
                        <span>Size:</span>
                        <span data-bind="text: $parent.humanFileSize($data.size)"></span>
                    </div>
                    <div>
                        <span>Created:</span>
                        <span data-bind="text: $parent.timeDifference($data.timestamp)"></span>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <div class="btn-group action-buttons">
                    <div href="javascript:void(0)" class="btn btn-mini" data-bind="click: $parent.openRenderDialog"><i class="fas fa-file-video"></i></div>
                    <div href="javascript:void(0)" class="btn btn-mini" data-bind="click: function(){ $parent.delete('frameZip', $data.id) }"><i class="fas fa-trash"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination pagination-mini pagination-centered">
        <ul>
            <li data-bind="css: {disabled: frameCollections.currentPage() === 0}"><a href="javascript:void(0)" data-bind="click: frameCollections.prevPage">«</a></li>
        </ul>
        <ul data-bind="foreach: frameCollections.pages">
            <li data-bind="css: { active: $data.number === $root.frameCollections.currentPage(), disabled: $data.number === -1 }"><a href="javascript:void(0)" data-bind="text: $data.text, click: function() { $root.frameCollections.changePage($data.number); }"></a></li>
        </ul>
        <ul>
            <li data-bind="css: {disabled: frameCollections.currentPage() === frameCollections.lastPage()}"><a href="javascript:void(0)" data-bind="click: frameCollections.nextPage">»</a></li>
        </ul>
    </div>

</div>

<!------------------------------------------------------->

<div id="tlp-modal-render" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>Start Render Job</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="startRender">
                <div class="presets">
                    <h4>Enhancement</h4>
                    <select data-bind="options: presetsEnhancement, optionsText: function(x) { return x.name }, value: selectedPresetEnhancement">
                    </select>

                    <h4>Render Settings</h4>
                    <select data-bind="options: presetsRender, optionsText: function(x) { return x.name }, value: selectedPresetRender">
                    </select>

                    <div style="margin-top: 1em">
                        <span style="font-weight: bold">Length:</span>
                        <span data-bind="text: timeSpan(selectedRenderPresetVideoLength())"></span>
                    </div>
                </div>
                <div class="preview">
                    <h4>Enhancement Preview</h4>
                    <img data-bind="attr: {src: selectedFrameZip() != null && selectedPresetEnhancement() != null ? '/plugin/octoprint_timelapseplus/enhancementPreview?frameZipId=' + selectedFrameZip().id + '&presetIndex=' + presetsEnhancement().indexOf(selectedPresetEnhancement()) : '' }" />
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn pull-left" data-dismiss="modal">Close</button>
        <button class="btn btn-primary pull-right" data-bind="click: startRender">Start</button>
    </div>
</div>

<div id="tlp-modal-video" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>Timelapse Video Preview</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <video width="640" height="360" controls>
                <source />
                Your browser does not support the video tag.
            </video>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary pull-right" data-dismiss="modal">Close</button>
    </div>
</div>