<form class="form-horizontal" id="timelapseplus-settings">

    <div class="control-group">
        <label class="control-label">Capture Mode</label>
        <div class="controls">
            <select data-bind="value: settings.plugins.octoprint_timelapseplus.captureMode">
                <option value="COMMAND">Command</option>
                <option value="TIMED">Timer</option>
            </select>
        </div>
    </div>

    <div class="control-group" data-bind="visible: settings.plugins.octoprint_timelapseplus.captureMode() == 'COMMAND'">
        <label class="control-label">Snapshot Command</label>
        <div class="controls">
            <input type="text" data-bind="value: settings.plugins.octoprint_timelapseplus.snapshotCommand">
            <span class="help-block">Action Command or @-Command that will trigger a snapshot capture</span>
        </div>
    </div>

    <div class="control-group" data-bind="visible: settings.plugins.octoprint_timelapseplus.captureMode() == 'TIMED'">
        <label class="control-label">Timer Interval</label>
        <div class="controls">
            <input type="number" step='1' min="1" max="600" width="5" data-bind="value: settings.plugins.octoprint_timelapseplus.captureTimerInterval">
            <span class="help-block">Capture Timer Interval in seconds</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Render Video after Print</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.octoprint_timelapseplus.renderAfterPrint">
            <span class="help-block">When a print has finished a render job will be started with the default settings</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Enhancement Presets</label>
        <div class="controls">

            <div class="help-block">Enhancement presets define how the frames should be otimizied and filtered before the final video is rendered</div>

            <button class="btn btn-mini" data-bind="click: function(){parent.addEnhancementPreset(settings.plugins.octoprint_timelapseplus.enhancementPresets)}">
                <i class="fa fa-plus"></i>
                Add Enhancement Preset
            </button>

            <div data-bind="foreach: settings.plugins.octoprint_timelapseplus.enhancementPresets">
                <div class="preset">
                    <div>
                        <label class="sub">Name</label>
                        <input type="text" class="input-block-level" data-bind="value: $data.name">
                    </div>

                    <div>
                        <label class="sub checkbox">
                            <input type="checkbox" data-bind="checked: $data.enhance">
                            Enable Enhancing
                        </label>
                    </div>

                    <div data-bind="visible: $data.enhance">
                        <label class="sub">Brightness Factor</label>
                        <input type="number" step='0.01' min="0.01" max="5" width="5" data-bind="value: $data.brightness">
                    </div>

                    <div data-bind="visible: $data.enhance">
                        <label class="sub">Contrast Factor</label>
                        <input type="number" step='0.01' min="0.01" max="5" width="5" data-bind="value: $data.contrast">
                    </div>

                    <div data-bind="visible: $data.enhance">
                        <label class="sub checkbox">
                            <input type="checkbox" data-bind="checked: $data.equalize">
                            Equalize Histogram
                        </label>
                    </div>

                    <div>
                        <label class="sub checkbox">
                            <input type="checkbox" data-bind="checked: $data.blur">
                            Enable Blur
                        </label>
                    </div>

                    <div data-bind="visible: $data.blur">
                        <label class="sub">Blur Radius</label>
                        <input type="number" step='1' placeholder='0' min="1" max="500" width="5" data-bind="value: $data.blurRadius">
                    </div>

                    <div data-bind="visible: $data.blur">
                        <label class="sub">Mask</label>
                        <img style="width:5em" data-bind="visible: $data.blurMask() != null, attr: {src: $data.blurMask() == null ? '' : '/plugin/octoprint_timelapseplus/maskPreview?id=' + $data.blurMask()}">
                        <button class="btn" data-bind="click: $parent.parent.openBlurMask">Import Blur Mask</button>
                    </div>

                    <div>
                        <label class="sub checkbox">
                            <input type="checkbox" data-bind="checked: $data.resize">
                            Enable Resizing
                        </label>
                    </div>

                    <div data-bind="visible: $data.resize">
                        <label class="sub">Width</label>
                        <input type="number" step='1' placeholder='0' min="10" max="5000" width="5" data-bind="value: $data.resizeW">
                    </div>

                    <div data-bind="visible: $data.resize">
                        <label class="sub">Height</label>
                        <input type="number" step='1' placeholder='0' min="10" max="5000" width="5" data-bind="value: $data.resizeH">
                    </div>

                    <button class="btn btn-mini" data-bind="click: function(){$parent.settings.plugins.octoprint_timelapseplus.enhancementPresets.remove($data)}, enable: $parent.settings.plugins.octoprint_timelapseplus.enhancementPresets().length > 1">
                        <i class="fa fa-eye"></i>
                        Preview
                    </button>

                    <button class="btn btn-mini" data-bind="click: function(){$parent.settings.plugins.octoprint_timelapseplus.enhancementPresets.remove($data)}, enable: $parent.settings.plugins.octoprint_timelapseplus.enhancementPresets().length > 1">
                        <i class="fa fa-trash"></i>
                        Remove this Preset
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Render Presets</label>
        <div class="controls">

            <div class="help-block">Render presets define how the actual video should be rendered</div>

            <button class="btn btn-mini" data-bind="click: function(){parent.addRenderPreset(settings.plugins.octoprint_timelapseplus.renderPresets)}">
                <i class="fa fa-plus"></i>
                Add Render Preset
            </button>

            <div data-bind="foreach: settings.plugins.octoprint_timelapseplus.renderPresets">
                <div class="preset">
                    <div>
                        <label class="sub">Name</label>
                        <input type="text" class="input-block-level" data-bind="value: $data.name">
                    </div>

                    <div>
                        <label class="sub">Framerate</label>
                        <input type="number" step='1' min="1" max="120" width="5" data-bind="value: $data.framerate">
                    </div>

                    <div>
                        <label class="sub checkbox">
                            <input type="checkbox" data-bind="checked: $data.interpolate">
                            Enable Frame Interpolation
                        </label>
                    </div>

                    <div data-bind="visible: $data.interpolate">
                        <label class="sub">Interpolated Framerate</label>
                        <input type="number" step='1' min="1" max="120" width="5" data-bind="value: $data.interpolateFramerate">
                    </div>

                    <div data-bind="visible: $data.interpolate">
                        <label class="sub">Mode</label>
                        <select data-bind="value: $data.interpolateMode">
                            <option value="blend">Blending Frames</option>
                            <option value="mci">Motion Compensated</option>
                        </select>
                    </div>

                    <div class="alert alert-block" style="margin-top: 1em" data-bind="visible: $data.interpolate() && $data.interpolateMode() == 'mci'">
                        <strong>Note: </strong>
                        <a href="http://underpop.online.fr/f/ffmpeg/help/minterpolate.htm.gz" target="_blank">Click here</a>
                        for more information about the interpolation parameters. If you are not sure, you can just keep the default settings.
                    </div>

                    <div data-bind="visible: $data.interpolate() && $data.interpolateMode() == 'mci'">
                        <label class="sub">Motion Estimation</label>
                        <select data-bind="value: $data.interpolateEstimation">
                            <option value="bidir">Bidirectional</option>
                            <option value="bilar">Bilateral</option>
                        </select>
                    </div>

                    <div data-bind="visible: $data.interpolate() && $data.interpolateMode() == 'mci'">
                        <label class="sub">Motion Search Algorithm</label>
                        <select data-bind="value: $data.interpolateAlgorithm">
                            <option value="esa">Exhaustive</option>
                            <option value="tss">Three step</option>
                            <option value="tdls">Two dimensional logarithmic</option>
                            <option value="ntss">New three step</option>
                            <option value="fss">Four step</option>
                            <option value="ds">Diamond</option>
                            <option value="hexbs">Hexagon-based</option>
                            <option value="epzs">Enhanced predictive zonal</option>
                            <option value="umh">Uneven multi-hexagon</option>
                        </select>
                    </div>

                    <div data-bind="visible: $data.interpolate() && $data.interpolateMode() == 'mci'">
                        <label class="sub">Motion Compensation</label>
                        <select data-bind="value: $data.interpolateCompensation">
                            <option value="obmc">Normal</option>
                            <option value="aobmc">Adaptive</option>
                        </select>
                    </div>

                    <button class="btn btn-mini" data-bind="click: function(){$parent.settings.plugins.octoprint_timelapseplus.renderPresets.remove($data)}, enable: $parent.settings.plugins.octoprint_timelapseplus.renderPresets().length > 1">
                        <i class="fa fa-trash"></i>
                        Remove this Preset
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>